body {
    margin: 10px;
}

.btn-row {
    height: 30px;
}

.btn-tile {
    height: 30px;
    width: 30px;
    font-size: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid grey !important;
    color: black;
    text-transform: uppercase;
}

.btn-tile:disabled {
    opacity: 100;
}

#upper-info-div {
    margin-bottom: 20px;
}

#inner-button-container {
    padding: 0;
    border: 1px solid grey;
    height: 752px;
    width: 752px;
    margin-left: 10px;
}

#tiles-container {
    width: 300px;
    margin-right: 0;
}

.hand-tile {
    margin: 5px;
}
