<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}

    <title>{{ game_state.game_name }} - Crossword Creator</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='game.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/socketio.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='game.js') }}"></script>
</head>
<body>
<div class="game-header">
    <h1>Crossword Creator: <span id="game-name">{{ game_state.game_name }}</span></h1>
</div>

<div class="w-100">
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
</div>

<div id="upper-info-div" class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="row">
                Players: 7
            </div>
            <div class="row">
                Tiles Left: 100
            </div>
        </div>
        <div class="col">
            <hr>
        </div>
    </div>
</div>

<div id="button-container" class="container">
    <div class="row">
        <div id="valid-word-container" class="container side-bar">
            <div>
                <p><strong>Valid guessed words:</strong></p>
            </div>
            <div id="valid-words-div">
            </div>
        </div>
        <div id="inner-button-container" class="container">
            {% for row in game_state.player_ids_to_boards[player_id].board %}
                {% set outer_loop = loop %}
                <div class="row btn-row no-gutters">
                {% for tile in row %}
                <div class="col">
                    <button id="space-{{ outer_loop.index0 }}-{{ loop.index0 }}" class="btn btn-tile btn-light btn-block rounded-0" disabled>
                        {% if tile is none %}
                            _
                        {% else %}
                            {{ tile }}
                        {% endif %}
                    </button>
                </div>
                {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
    <div id="timer-container" class="container side-bar">
        <div id="time-remaining-container">
            <div>
                <p><strong>Time remaining:</strong></p>
            </div>
            <div id="time-remaining-div">
            </div>
        </div>
        <div id="round-score-container">
            <div id="round-score-label">
                <p><strong>Round Score:</strong></p>
            </div>
            <div id="round-score-div" class="score-div">
                _
            </div>
        </div>
        <div id="total-score-container">
            <div id="total-score-label">
                <p><strong>Total Score:</strong></p>
            </div>
            <div id="total-score-div" class="score-div">
            </div>
        </div>
    </div>
</div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div id="guess-div" class="col">
            <div class="form-group">
                <label for="guessWordInput">Guess Word:</label>
                <input type="text" autocomplete="off" class="form-control" id="guessWordInput" placeholder="Guess">
            </div>
            <button id="guessWordSubmit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col text-right">
            <button id="new-game-button" class="btn btn-success">New Game</button>
        </div>
    </div>
</div>

</body>
</html>