<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}

    <title>{{ game_state.game_name }} - Crossword Creator</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='game.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/socketio.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='game.js') }}"></script>
</head>
<body>
<div class="game-header">
    <h1>Crossword Creator: <span id="game-name">{{ game_state.game_name }}</span></h1>
</div>

<div class="w-100">
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
</div>

<div id="upper-info-div" class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="row">
                Players: 7
            </div>
            <div class="row">
                Tiles Left: 100
            </div>
        </div>
        <div class="col">
            <hr>
        </div>
    </div>
</div>

<div id="button-container" class="container-fluid">
    <div class="row">
        <div id="tiles-container" class="container">
            <div>
                <p><strong>Tiles:</strong></p>
            </div>
            <div id="tiles-div">
                {% for tile in game_state.player_ids_to_tiles[player_id] %}
                    <button id="tile-{{ loop.index0 }}" class="btn btn-tile hand-tile btn-light rounded-0">
                        {{ tile }}
                    </button>
                {% endfor %}
            </div>
        </div>
        <div id="inner-button-container" class="container">
            {% for row in game_state.player_ids_to_boards[player_id].board %}
                {% set outer_loop = loop %}
                <div class="row btn-row no-gutters">
                    {% for tile in row %}
                        <div class="col">
                            <button id="space-{{ outer_loop.index0 }}-{{ loop.index0 }}"
                                    class="btn btn-tile btn-light btn-block rounded-0">
                                {% if tile is none %}
                                    &nbsp;
                                {% else %}
                                    {{ tile }}
                                {% endif %}
                            </button>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div id="right-container" class="container">
            Peel
        </div>
    </div>
</div>
</body>
</html>